**/__pycache__/
.ipynb_checkpoints/  
assets/  
ConpareMethod/  
Downstream/  
sample/  
weights/  
workdir/
scripts/Vis_caps/
.vscode/
.trae/
./outputs/
./outputs_tmp/
pyrightconfig.json
test_dit_metrics.py